<!DOCTYPE html>
<html>
<head>
    <title>cvmaker</title>
</head>
<body>
    <h1>header</h1>
    <!-- Ваши поля ввода информации о себе -->
    <form action="generate_resume.php" method="post">
        <!-- Поля для ввода информации о себе -->
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br><br>
        <!-- Другие поля -->

        <input type="submit" value="Сгенерировать резюме">
    </form>
</body>
</html>